<h1>About ER: Empower &amp; Restore</h1>
<h2>Our Mission &amp; Vision</h2>
<p>Our mission is to provide crisis intervention and prevention plan, services and resources for at risk youth.</p>
<p>Youth targeted by the program are ages 8 to 16 and are considered at risk for delinquency behavior.</p>
<p>The vision of EM-Restore is to reduce the number of youth coming in contact with the Juvenile Justice System.</p>
<p>Data has shown that more than a million youth come in contact with Juvenile Justice system every year and each state spends over a billion dollars each year to arrest, prosecute, and provide treatment for juvenile offenders.</p>
<p>Our hope is that our program can empower parents and the community with knowledge and resources to aid in the reduction of delinquency and youth coming in contact with the Juvenile Justice System.</p> 
<p>Empower parents and the community, restore the child.</p> 
